In [3]:
import numpy as np
import pandas as pd
import tweepy
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sb
import re

In [4]:
from nltk.corpus import stopwords # to get stopwords from NLTK library
from nltk.tokenize import word_tokenize # to create word tokens
from nltk.stem import WordNetLemmatizer # to reduce words to orginal form
from nltk.corpus import words # Get all words in english language

import textblob
from textblob import TextBlob

from wordcloud import WordCloud
from emot.emo_unicode import UNICODE_EMOJI # For emojis

import warnings

In [8]:
# Access keys and tokens from Twitter Developer Account
# These are hidden to comply with Twitter's API terms and conditions
# You'll need to get a Twitter developer Account to get your own keys to use for this part.
consumer_key = '7xXAibveV2SfjbPFoNHH74vUq'
consumer_secret = 'Zdrz6v2TwxvqMtxEzLrlM27ciu50m74dQAB1Z6poprC4xxwABO'
access_token = '1620005492-qCKTglyB3brsTb5cFDCaLZDyOMU0HfIGDNJAoFJ'
access_secret = '9FrscEyRCoUIAwqmXvJt4jFUtGYqPNSILgSmObdtUbpLa'

In [10]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) #Pass in Consumer key and secret for authentication by API
auth.set_access_token (access_token, access_secret) # Pass in Access token and secret for authentication by API
api = tweepy.API(auth, wait_on_rate_limit = True) #sleeps when API limit is reached

# GATHERING DATA

### ATIKU ABUBAKAR

In [53]:
#create keywords to search for , filter links, retweets, replies
search_words = "#okowa OR #atikuokowa2023 OR #atiku"
search_query = search_words + "-filter:retweets AND -filter:replies"

In [54]:
# specifying limit of 1,000,000 tweets
# I prefer to gather tweets in batches then append, due to twitter's tweet request limitation
limit=1000000

# using tweepy to search for tweets with the key words in English 
tweets = tweepy.Cursor(api.search_tweets, q=search_query, count=100, lang="en", tweet_mode='extended').items(limit)

# specifying column headers of each tweet attribute
columns=['id', 'username', 'time_of_tweet', 'tweet', 'location', 'retweets', 'likes', 'followers', 'following', 'verified',
         'tweet_source']

In [55]:
# appending each tweet attribute to the list data
data= []
for tweet in tweets:
    data.append([tweet.id,tweet.user.screen_name,tweet.created_at,tweet.full_text,tweet.user.location,tweet.retweet_count,tweet.favorite_count,tweet.user.followers_count,tweet.user.friends_count,tweet.user.verified,tweet.source])

In [56]:
# creating a dataframe
df_aa = pd.DataFrame(data, columns=columns)

# cheking the number of rows and columns
df_aa.shape

(1389, 11)

In [57]:
df_aa.head()

,id,username,time_of_tweet,tweet,location,retweets,likes,followers,following,verified,tweet_source
0,1585929663901478917,KingsleyNjomi1,2022-10-28 09:41:11+00:00,This man @renoomokri are you a politician? Of ...,,0,0,55,255,False,Twitter for Android
1,1585929369843036160,OndoPDPVanguard,2022-10-28 09:40:01+00:00,Highlights of Ondo PDP Presidential Campaign C...,Ondo Nigeria,0,0,326,332,False,Twitter for iPhone
2,1585928744769814529,Getit4me44,2022-10-28 09:37:32+00:00,Elon Musk Officially takeover Twitter https://...,Nigeria,2,2,12,114,False,Twitter for Android
3,1585928287481495553,theallnigerian,2022-10-28 09:35:43+00:00,Kindly help in filling this survey. Thank you ...,"lagos, nigeria",1,1,1255,1284,False,Twitter for iPhone
4,1585924498527727616,Zulzurander,2022-10-28 09:20:40+00:00,Also Aminu waziri is what @Benzema is to footb...,9th Realm,1,0,3789,3239,False,Twitter for Android

In [58]:
df_aa.tail()

,id,username,time_of_tweet,tweet,location,retweets,likes,followers,following,verified,tweet_source
1384,1582669654475931648,AyotundeJames3,2022-10-19 09:47:04+00:00,"Atiku's UNITY-SEED agenda is the best, most co...",,3,8,101,216,False,Twitter for Android
1385,1582669474410688515,AbdulfataiHuss2,2022-10-19 09:46:21+00:00,I am so glad Nigeria will be great again.....A...,Abuja,0,0,82,156,False,Twitter Web App
1386,1582668563315589121,Scentfrankie,2022-10-19 09:42:44+00:00,"We are watching. So very easy to say, for some...",,1,1,131,113,False,Twitter for Android
1387,1582667738551816193,DebbieDebbie174,2022-10-19 09:39:28+00:00,National Unity can be achieved if every sectio...,,10,22,154,297,False,Twitter for Android
1388,1582667403284316161,Scentfrankie,2022-10-19 09:38:08+00:00,不不不 ... I can't stop laughing\n#NigeriaGetYour...,,1,1,131,113,False,Twitter for Android

In [63]:
# saving dataframe to a csv file
df_aa.to_csv('atiku19Oct-28Oct(09_38_08am_to_09_41_11am).csv')

### Bola Ahmed Tinubu

In [ ]:
#create keywords to search for , filter links, retweets, replies
search_words = "#bat2023 OR #bolaahmedtinubu OR #tinubu OR #emilokan"
search_query = search_words + "-filter:retweets AND -filter:replies"

In [ ]:
# specifying limit of 1,000,000 tweets
# I prefer to gather tweets in batches then append, due to twitter's tweet request limitation
limit=1000000

# using tweepy to search for tweets with the key words in English 
tweets = tweepy.Cursor(api.search_tweets, q=search_query, count=100, lang="en", tweet_mode='extended').items(limit)

# specifying column headers of each tweet attribute
columns=['id', 'username', 'time_of_tweet', 'tweet', 'location', 'retweets', 'likes', 'followers', 'following', 'verified',
         'tweet_source']

In [ ]:
# appending each tweet attribute to the list data
data= []
for tweet in tweets:
    data.append([tweet.id,tweet.user.screen_name,tweet.created_at,tweet.full_text,tweet.user.location,tweet.retweet_count,tweet.favorite_count,tweet.user.followers_count,tweet.user.friends_count,tweet.user.verified,tweet.source])

In [ ]:
# creating a dataframe
df_bat = pd.DataFrame(data, columns=columns)

# cheking the number of rows and columns
df_bat.shape

In [ ]:
df_bat.head()

In [ ]:
df_bat.tail()

In [ ]:
# saving dataframe to a csv file
df_bat.to_csv('tinubu19Oct-28Oct(09_42_11am_to_09_37_32am).csv')

### Peter Obi

In [ ]:
#create keywords to search for , filter links, retweets, replies
search_words = "#obidients OR #obidientlyyusuful OR obidatti2023 OR #obidient"
search_query = search_words + "-filter:retweets AND -filter:replies"

In [ ]:
# specifying limit of 1,000,000 tweets
# I prefer to gather tweets in batches then append, due to twitter's tweet request limitation
limit=1000000

# using tweepy to search for tweets with the key words in English 
tweets = tweepy.Cursor(api.search_tweets, q=search_query, count=100, lang="en", tweet_mode='extended').items(limit)

# specifying column headers of each tweet attribute
columns=['id', 'username', 'time_of_tweet', 'tweet', 'location', 'retweets', 'likes', 'followers', 'following', 'verified',
         'tweet_source']

In [ ]:
# appending each tweet attribute to the list data
data= []
for tweet in tweets:
    data.append([tweet.id,tweet.user.screen_name,tweet.created_at,tweet.full_text,tweet.user.location,tweet.retweet_count,tweet.favorite_count,tweet.user.followers_count,tweet.user.friends_count,tweet.user.verified,tweet.source])

In [ ]:
# creating a dataframe
df_obi = pd.DataFrame(data, columns=columns)

# cheking the number of rows and columns
df_obi.shape

In [ ]:
df_obi.head()

In [ ]:
df_obi.tail()

In [ ]:
# saving dataframe to a csv file
df_obi.to_csv('peterobi19Oct-28Oct(09_30_46am_to_09_33_38am).csv')

## DATA CLEANING

In [61]:
df_aa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1389 entries, 0 to 1388
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1389 non-null   int64
 1   username       1389 non-null   object
 2   time_of_tweet  1389 non-null   datetime64[ns, UTC]
 3   tweet          1389 non-null   object
 4   location       1389 non-null   object
 5   retweets       1389 non-null   int64
 6   likes          1389 non-null   int64
 7   followers      1389 non-null   int64
 8   following      1389 non-null   int64
 9   verified       1389 non-null   bool
 10  tweet_source   1389 non-null   object
dtypes: bool(1), datetime64[ns, UTC](1), int64(5), object(4)
memory usage: 110.0+ KB

In [62]:
df_bat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1657 entries, 0 to 1656
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1657 non-null   int64
 1   username       1657 non-null   object
 2   time_of_tweet  1657 non-null   datetime64[ns, UTC]
 3   tweet          1657 non-null   object
 4   location       1657 non-null   object
 5   retweets       1657 non-null   int64
 6   likes          1657 non-null   int64
 7   followers      1657 non-null   int64
 8   following      1657 non-null   int64
 9   verified       1657 non-null   bool
 10  tweet_source   1657 non-null   object
dtypes: bool(1), datetime64[ns, UTC](1), int64(5), object(4)
memory usage: 131.2+ KB

In [60]:
df_obi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4731 entries, 0 to 4730
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4731 non-null   int64
 1   username       4731 non-null   object
 2   time_of_tweet  4731 non-null   datetime64[ns, UTC]
 3   tweet          4731 non-null   object
 4   location       4731 non-null   object
 5   retweets       4731 non-null   int64
 6   likes          4731 non-null   int64
 7   followers      4731 non-null   int64
 8   following      4731 non-null   int64
 9   verified       4731 non-null   bool
 10  tweet_source   4731 non-null   object
dtypes: bool(1), datetime64[ns, UTC](1), int64(5), object(4)
memory usage: 374.4+ KB

## DATA ASSESSMENTS

The only data issue (I expected more) I observed is:
* Missing location values (quality issue)

## DATA CLEANING

The dataframes are cleaned here. Just basically filling the empty locations with 'NA'.

#### Copies of the dataframes made before cleaning

In [74]:
aa_df=df_aa.copy()
bat_df=df_bat.copy()
obi_df=df_obi.copy()